<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Negar</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="icon" type="image/x-icon" href="../static/favico.ico">
</head>
<body>

    <div class="loading">شیفت نگار </div>
    <div class="info">

    <div class="c1">
    <div style="display: flex;"><img class="user" src="../static/userA.png">
    <p class="user"></p> </div>
    <button class="btn" onclick="exit()">خروج</button>
        </div>


    <div class="c2" id="main_select">
        <p class="dep">برنامه پرسنل بخش</p>
        <select class="dep" onchange="SetTable();">
        </select>
    </div>

    
    <div class="c2" id="req_select">
        <p class="dep">درخواست های</p>
        <select class="dep" onchange="SetTableRequests(this.value);">
            <option value="current">جاری</option>
            <option value="checked">بررسی شده</option>
        </select>
    </div>
        
        
    <div class="c3" id="shifts"></div>

    </div>

    <div class="btn" id="main_btn">
    <button class="btn" onclick="showMyShifts()">شیفت های من</button>
    <button class="btn" onclick="showreq()">درخواست ها</button>
    </div>

    <div class="btn" id="back_btn">
    <button class="btn" onclick="back()">بازگشت</button>
    </div>

    <br>

    
    <table class="WeekChange" id="0">
        <thead>
            <tr class="date"> 
                <th class="r" onclick="beforeWeek()">▶</th>
                <th class="mid"></th>
                <th class="l" onclick="afterWeek()">◀</th>
            </tr>
        </thead>
    </table>

    <table class="main">
        <thead>
            <tr>
            <th>نام و نام‌خانوادگی</th>
            <th>سمت</th>
            <th>قرارداد</th>
            <th class="day" id="0">شنبه</th>
            <th class="day" id="1">یکشنبه</th>
            <th class="day" id="2">دوشنبه</th>
            <th class="day" id="3">سه‌شنبه</th>
            <th class="day" id="4">چهارشنبه</th>
            <th class="day" id="5">پنج‌شنبه</th>
            <th class="day" id="6">جمعه</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table class="myshifts">
        <thead>
            <tr>
            <th>ساعت کاری</th>
            <th>اضافه کار</th>
            <th class="day" id="0">شنبه</th>
            <th class="day" id="1">یکشنبه</th>
            <th class="day" id="2">دوشنبه</th>
            <th class="day" id="3">سه‌شنبه</th>
            <th class="day" id="4">چهارشنبه</th>
            <th class="day" id="5">پنج‌شنبه</th>
            <th class="day" id="6">جمعه</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    
    <table class="myrequests">
        <thead>
            <tr>
            <th>درخواست</th>
            <th>شیفت</th>
            <th>روز</th>
            <th>بخش</th>
            <th class="commit">توضیحات</th>
            <th>وضعیت</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <form class="request_popup" id="popup">
        <label class="title">درخواست شیفت</label>
        <div class="form_col">
        <label>شیفت صبح</label>
        <input class="ch" id="M" type="checkbox">
        </div>
        <div class="form_col">
        <label>شیفت عصر</label>
        <input id="E" class="ch" type="checkbox">
        </div>
        <div class="form_col">
        <label>شیفت شب</label>
        <input id="N" class="ch" type="checkbox">
        </div>
        <input class="req_text" type="text" placeholder="اگر شرحی دارید اینجا بنویسید.">
        <button class="btn" type="button" onclick="AddRequest()">تایید</button>
    
    </form>

<div class="savealert" id="alert"> <p class="savealert" id="alert">درخواست شما با موفقیت ارسال شد.</p> </div>

<div class="develop">Developed By MohammadKarimi</div>

</body>

<script src="../static/main.js"></script>
</html>